<head>
<body>


<div class="rectangle"></div>
.rectangle {
width:"500px";
background-color: red;
border-top height:"200px";red
border-middle:"220px";white
border-bottom: "20px";red
}







</body>
</head>
